*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #181C14;
  color: white;
}
h2{
  font-size: 3vw;
  text-align: center;
  background: rgb(254, 15, 15);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search-bar{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#search{
  font-size: 1.5vw;
  margin: 10px 0 0 0;
  padding:3px;
  width: 40%;
  color: aliceblue;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255);
  background-color: transparent;;
  font-family: 'sans-serif';
}
#search::placeholder{
  color: rgb(255, 255, 255, 0.5);
}
.movie-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
}
.box{
  position: relative;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #181C14;
  color: white;
  gap: 0px;
  margin: 0px 0 0 0;
  overflow: hidden;
  font-size: 15px;
}
.box img{
  margin: 0;
  padding: 0;
  position: absolute;
  height: 247px;
  width: 197px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.box .overlay{
  position: relative;
  top: 230px;
  left: 0;
  padding: 0;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.box .overlay .title{
  color: yellow;
  display: flex;
  justify-content: space-between;
}
.box .overlay .info{
  font-size: 10px;
}
.box:hover .overlay{
  top: 125px;
  transition: 1s ease-in-out;
}
.box:hover{
  border-radius: 0;
}
.box:hover img{
  border-radius: 0;
  scale: 1.1;
}
.rating{
  margin-right: 10px;
}

.popup {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #000;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

#closeBtn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
